.global-footer {
    background-color: #000;
    border-top: 1px solid #333;
    padding-top: 40px;
    padding-bottom: 100px;
    /* Space for FAB */
    color: #888;
}

.footer-copyright {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 40px;
    opacity: 0.5;
}